html{
    background-image: url("background. webp");
    background-size: cover;
    background-repeat: no-repeat;
}
body{
    background: green;
    width: 90%;
    max-width: 800px;
    margin:50px auto;
    font-family: 'raleway';
    padding: 20px;
    border-radius: 10 px;
}
h1,p{
    text-align: center;
    margin: auto;
}
label{
    display: block;
    margin: 1em;
}
input, select {
    display: block;
    width: 100px;
    font-size: 20px;
    padding: 0.3em;
    background-color:#fbfbfb;
    border: solid 1px #ccc;
    resize: vertical;
    border-radius: 10px;
}
input[type=checkbox],input[type=radio]{
    display:inline;
    width:auto;
}
.inline-label {
    display: inline;
    width: auto;
}
option {
    color: #000;
    background: (255,255,255);
}
select{
    color: indigo;
}
input[type=submit]:hover
input[type=submit]:focus {
    outline:none;background: wheat;

}
input[type=reset]:hover
input[type=reset]:focus {
    outline:none;
    background: rgb(192,2,38)
}
input[type=reset]:hover
input[type=submit] {
    background: rgb(27,44,141);
    color:white ;
    margin-top: 1em;
    border-radius: 10px;
}
    